<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MossPlatform</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script>
        // Direct script for immediate theme application without waiting for DOMContentLoaded
        const theme = localStorage.getItem('theme') || 'light-mode';
        document.body.className = theme; // Apply class immediately before full DOM is ready

        window.addEventListener('DOMContentLoaded', (event) => {
            const lightModeIcon = document.getElementById('light-mode-icon');
            const darkModeIcon = document.getElementById('dark-mode-icon');
            if (theme === 'dark-mode') {
                lightModeIcon.style.display = 'none';
                darkModeIcon.style.display = 'block';
            } else {
                lightModeIcon.style.display = 'block';
                darkModeIcon.style.display = 'none';
            }
        });
    </script>

    </script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body>
    <header class="main-header border-bottom">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img id="logo-image" src="~/css/Resources/Images/DORFgrøn.png" alt="Logo" class="navbar-logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Forside</a>
                        </li>

                        @if (Context.Session.GetString("IsAdminLoggedIn") == "true")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Upload">Upload</a>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" method="post" asp-page="/Logout" style="display: none;">
                                    <!-- A hidden form for logout -->
                                </form>
                                <a href="#" class="nav-link" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Login">Login</a>
                            </li>
                        }
                    </ul>
                    <button id="theme-toggle" class="btn">
                        <i id="light-mode-icon" class="fas fa-sun"></i>
                        <i id="dark-mode-icon" class="fas fa-moon"></i>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer">
        <div class="container">
            &copy; 2024 - MossPlatform
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
