/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.container {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

html, body {
    height: 100%;
    margin: 0;
}

::selection {
    background: rgba(26,188,156,0.3);
}

/* Login Page Styles */
.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}

    .wrapper .title {
        height: 90px;
        background: #84894A;
        border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper form {
        padding: 30px 25px 25px 25px;
    }

        .wrapper form .row {
            height: 45px;
            margin-bottom: 15px;
            position: relative;
        }

            .wrapper form .row input {
                height: 100%;
                width: 100%;
                outline: none;
                padding-left: 60px;
                border-radius: 5px;
                border: 1px solid lightgrey;
                font-size: 16px;
                transition: all 0.3s ease;
            }

                .wrapper form .row input:focus {
                    border-color: #84894A;
                    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
                }

                .wrapper form .row input::placeholder {
                    color: #999;
                }

            .wrapper form .row i {
                position: absolute;
                width: 47px;
                height: 100%;
                color: #fff;
                font-size: 18px;
                background: #84894A;
                border: 1px solid lightgrey;
                border-radius: 5px 0 0 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        .wrapper form .pass {
            margin: -8px 0 20px 0;
        }

            .wrapper form .pass a {
                color: #84894A;
                font-size: 17px;
                text-decoration: none;
            }

                .wrapper form .pass a:hover {
                    text-decoration: underline;
                }

        .wrapper form .button input {
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            padding-left: 0px;
            background: #84894A;
            border: 1px solid lightgrey;
            cursor: pointer;
        }

            .wrapper form .button input:hover {
                background: #5D612C;
            }

        .wrapper form .signup-link {
            text-align: center;
            margin-top: 20px;
            font-size: 17px;
        }

            .wrapper form .signup-link a {
                color: lightgrey;
                text-decoration: none;
            }

                .wrapper form .signup-link a:hover {
                    text-decoration: underline;
                }

/* Dark Mode Styles for Login Form */
body.dark-mode {
    background: #121212; /* Dark background for dark mode */
    color: #ffffff; /* Light text for better readability */
}

    body.dark-mode .container {
        background-color: #212529; /* Darker background for the container */
    }

    body.dark-mode .wrapper {
        background-color: #242424; /* Dark background for the form wrapper */
        color: #ffffff; /* Light text color for readability */
    }

        body.dark-mode .wrapper .title {
            background-color: #414141; /* Darker background for the title */
            color: #ffffff; /* Light text color */
        }

        body.dark-mode .wrapper form .row input {
            color: #333; /* Light text color for the input */
            border: 1px solid #555; /* Darker border for the input fields */
        }

        body.dark-mode .wrapper form .row i {
            background-color: #414141; /* Dark background for input icons */
            border-color: #555; /* Darker border for the icons */
        }

        body.dark-mode .wrapper form .button input {
            background-color: #5a5a5a; /* Dark background for the submit button */
            color: #fff; /* Light text color for the button */
            border-color: #777; /* Darker border for the button */
        }

            body.dark-mode .wrapper form .button input:hover {
                background-color: #484848; /* Lighter background for the button on hover */
            }

/* Site-Wide Styles */
html {
    font-size: 14px; /* Initial font size */
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px; /* Adjust font size for larger screens */
    }
}

/* Button styles */
.btn-success.nav-link,
.btn-link.text-light {
    background-color: transparent;
    color: black; /* Black text for default and override */
    border: none;
    font-weight: bold; /* Bold text */
}

body.dark-mode .btn-success.nav-link,
body.dark-mode .btn-link.text-light {
    color: white !important; /* White text in dark mode */
}

/* Header and Navigation */
.main-header {
    background-color: #1a1c2c;
    border-bottom: 1px solid #262a3f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-item, .navbar-nav, .navbar-light {
    font-weight: bold;
    color: #ffffff; /* White text for visibility */
}

.nav-item {
    margin-right: 1rem;
    margin-left: 3rem;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    margin-right: 2rem;
}

/* Cards and Buttons */
.card {
    background-color: #1e2130;
    color: #dcdcdc;
    transition: transform 0.3s ease-in-out;
}

    .card:hover {
        transform: scale(1.05);
    }

    .card .btn {
        background-color: #84894A;
        color: #ffffff;
        border-color: lightgrey;
    }

        .card .btn:hover {
            background-color: #5d612c;
        }

body.dark-mode .card,
body.dark-mode .card {
    background-color: #212529; /* White background in dark mode */
    color: #ffffff;
    border-color: white; /* Black border in dark mode */
}

    body.dark-mode .card .btn {
        background-color: #5A5A5A;
        color: #ffffff;
        border-color: lightgrey;
    }

        body.dark-mode .card .btn:hover {
            background-color: #484848;
        }
/* Responsive and Game Card Styles */
.game-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (max-width: 768px) {
    .card-img-top {
        max-height: 135px;
    }

    .card-title, .card-text {
        min-height: auto;
    }
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Theme Toggle, Images, and Text Styles */
#theme-toggle {
    padding: 0.5rem 1rem;
    margin-left: 3rem;
}

.card-img-top {
    height: auto;
    min-height: 140px;
    max-height: 140px;
    object-fit: cover;
}

.card-title, .card-text {
    min-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Mode Specific Styles */
body.dark-mode {
    background-color: #212529;
    color: #ffffff;
}

body.dark-mode, .dark-mode .footer, .dark-mode .navbar, .dark-mode .navbar-nav .nav-link {
    background-color: #212529;
    color: #ffffff; /* Ensuring readability and consistency in dark mode */
}


.dark-mode #theme-toggle {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Light mode styles grouped for consistency and contrast */
body.light-mode {
    background-color: #ffffff;
    color: #212529;
}

body.light-mode, .light-mode .navbar, .light-mode .footer, .light-mode .navbar-brand, .light-mode .navbar-nav .nav-link, .light-mode .nav-item {
    background-color: #ffffff;
    color: #212529; /* Ensuring visibility and contrast in light mode */
}

.light-mode .card {
    background-color: #ffffff;
    color: #212529;
    border-color: black;
}

.light-mode .navbar-toggler {
    background-color: #84894A; /* Light background for light mode */
    
}

.light-mode .navbar-nav .nav-link:hover {
    color: black;
    background-color: transparent;
}

.light-mode #theme-toggle {
    color: black    ;
    background-color: #84894A;
    border: 1px solid black;
}

/* Navbar Logo Adjustments */
.navbar-logo {
    max-width: 100px;
    height: auto;
    display: block;
}


/* Footer styles */

.footer {
    padding: 10px 0; /* Reduces padding to decrease height */
    font-size: 14px; /* Adjusts font size for better fit */
    text-align: center; /* Ensures content is centered */
    color: #6c757d; /* Adjusts text color if needed, matches 'text-muted' class */
}

    .footer .container {
        max-width: 1140px; /* Adjust if needed based on your design */
        margin: auto;
        text-align: center; /* Ensures any content within the container is centered */
    }


.same-color-background {
    background-color: #f8f9fa; /* Adjust the background color as needed */
}

/* Ensure the footer doesn't take up more space than necessary */
.footer, .footer * {
    box-sizing: border-box;
}
