.light-mode .upload-form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px darkgrey;
}
.dark-mode .upload-form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px #333;
}
.upload-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

.form-control {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Light mode styles for primary button */
.btn-primary {
    background-color: #84894A; /* Changed to white for light mode */
    border-color: darkgray; /* Keeping the border color for contrast */
    color: #fff; /* Changed text color for readability */
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

    /* Light mode styles for primary button on hover */
    .btn-primary:hover {
        background-color: #5D612C; /* Light gray on hover for feedback */
        border-color: black; /* Darkened border on hover for contrast */
    }

/* Dark mode styles */
body.dark-mode .upload-form-container {
    background-color: #343a40; /* Darker background for the form */
    color: #ffffff; /* Light text for readability */
}

body.dark-mode .form-control, body.dark-mode .form-control-file {
    background-color: #495057; /* Darker background for input fields */
    color: #ffffff; /* Light text color for contrast */
    border-color: #6c757d; /* Darker borders for inputs */
}

/* Dark mode styles for primary button */
body.dark-mode .btn-primary {
    background-color: #5A5A5A; /* Changed to white for dark mode */
    border-color: lightgrey;
    color: #fff;
}

    /* Dark mode styles for primary button on hover */
    body.dark-mode .btn-primary:hover {
        background-color: #484848;
        border-color: #6c757d;
    }
