.upload-form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.upload-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

.form-control {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control-file {
    border: none;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
/* Dark mode styles */
body.dark-mode .upload-form-container {
    background-color: #343a40; /* Darker background for the form */
    color: #ffffff; /* Light text for readability */
}

body.dark-mode .form-control, body.dark-mode .form-control-file {
    background-color: #495057; /* Darker background for input fields */
    color: #ffffff; /* Light text color for contrast */
    border-color: #6c757d; /* Darker borders for inputs */
}

body.dark-mode .btn-primary {
    background-color: #28A745; /* Darker background for primary buttons */
    border-color: #ffffff; /* Consistent border color */
}

    body.dark-mode .btn-primary:hover {
        background-color: #0d6e23; /* Slightly lighter on hover for feedback */
    }
