@page
@model MossPlatform.Pages.LoginModel
@{
    ViewData["Title"] = "Admin Login";
}
<br />
<br />
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Log ind</span></div>
            <form method="post">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="text" asp-for="Input.Username" placeholder="Username" required>
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="password" asp-for="Input.Password" placeholder="Password" required>
                </div>
                <div class="row button">
                    <input type="submit" value="Log ind">
                </div>
            </form>
        </div>
    </div>

</body>
</html>
