@page
@model MossPlatform.Pages.UploadModel
<head>
    <link rel="stylesheet" href="~/css/uploadpage.css" />
    <script>
        (function () {
            // Immediately set the theme based on user preference
            const theme = localStorage.getItem('theme') || 'light-mode'; // Default to light mode
            document.body.className = theme;

            // Hide body to prevent FOUC
            document.body.style.display = 'none';
        })();
    </script>
</head>

<div class="upload-form-container">
    <form method="post" enctype="multipart/form-data" class="upload-form">
        <!-- The 'form-group' divs are used for styling and organizing form elements -->
        <div class="form-group">
            <label for="title">Titel</label>
            <input type="text" id="title" name="title" required placeholder="Skriv titel her" class="form-control" />
            <!-- Input field for the game title, required, and has a placeholder text -->
        </div>
        <div class="form-group">
            <label for="description">Beskrivelse</label>
            <textarea id="description" name="description" placeholder="Skriv beskrivelse her" class="form-control" maxlength="114"></textarea>
            <!-- Textarea for the game description, has a placeholder text -->
        </div>
        <div class="form-group">
            <label for="category">Kategori</label>
            <select id="category" name="category" class="form-control">
                <option value="Featured">Udvalgt spil</option>
                <option value="New">Nyt spil</option>
                <!-- Add more categories as needed -->
            </select>
            <!-- Select element for choosing a category for the game -->
        </div>
        <div class="form-group">
            <label for="UploadedImage">Upload Billede</label>
            <input type="file" id="UploadedImage" name="UploadedImage" accept="image/*" class="form-control-file" />
            <!-- Input field for uploading a game image, accepts image files only -->
        </div>
        <div class="form-group">
            <label for="playUrl">Spil Link/URL</label>
            <input type="text" id="playUrl" name="playUrl" required placeholder="Indtast spil link/URL her" class="form-control" />
            <!-- Input field for the play URL, required, and has a placeholder text -->
        </div>
        <button type="submit" class="btn btn-primary">Upload Spil</button>
    </form>
</div>