@page
@model MossPlatform.Pages.UploadModel
@{
}

<form method="post" enctype="multipart/form-data">
    <input type="text" name="title" required placeholder="Title" />
    <input type="text" name="description" placeholder="Description" />
    <select name="category">
        <option value="Featured">Featured</option>
        <option value="New">New</option>
        <!-- Add more categories as needed -->
    </select>
    <input type="file" name="UploadedImage" accept="image/*" />
    <input type="text" name="playUrl" required placeholder="Play URL" />
    <button type="submit">Upload Game</button>
</form>


